@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --azul-escuro: #0D1982;
    --azul-claro: #59A2EA;
    --amarelo: #EACB31;
    --branco: #F0F0F0;
    --preto: #262626;
    --font-principal: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

html, body {
    height: 100%;
}

header {
    background-color: var(--azul-escuro);
    padding: 0 20px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

#btn-sidebar {
    display: none;
    margin: auto 0;
}

#btn-sidebar div {
    width: 30px;
    height: 3px;
    border-radius: 5px;
    margin: 5px 0;
    background-color: var(--branco);
}

.info-header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
}

div.logo > img {
    width: 50vw;
    max-width: 80px;
}

.info-header > img {
    width: 35px;
    height: 35 px;
    overflow: hidden;
    border-radius: 50%;
}

.icons-header {
    margin: 0 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 70px);
    position: relative;
}

#sidebar {
    width: 100vw;
    max-width: 300px;
    background-color: white;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    position: relative;
}

#sidebar::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
}
  
/* Estilizando o traço da barra de rolagem */
#sidebar::-webkit-scrollbar-thumb {
    background-color: #999; 
    border-radius: 4px;
}
  
/* Estilizando o fundo da barra de rolagem */
#sidebar::-webkit-scrollbar-track {
    background-color: #e7e7e7;
}

#sidebar h6 {
    color: #333;
    margin: 10px;
    font-weight: 600;
}

#sidebar a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 8px 10px;
    color: #444444c7;
    font-size: 15px;
    position: relative;
    transition: 0.3s;
}

#sidebar a > i {
    margin-right: 10px;
}

#sidebar a > i.fa-chevron-right {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    font-size: 12px;
}

#sidebar a.sidebar-active {
    background-color: #e5e5e5;
    color: #404040;
    font-weight: bold;
    border-left: 3px solid var(--azul-escuro);
}

#sidebar a:hover {
    background-color: #F0EEF0;

}

.content {
    width: calc(100% - 300px);
    height: calc(100vh - 70px);
    background-color: rgb(235,235,235);
    padding: 10px;
    display: flex;
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
}
  
/* Estilizando o traço da barra de rolagem */
.content::-webkit-scrollbar-thumb {
    background-color: #999; 
    border-radius: 4px;
}
  
/* Estilizando o fundo da barra de rolagem */
.content::-webkit-scrollbar-track {
    background-color: #e7e7e7;
}

.sec-content {
    display: block;
    width: 95%;
    height: max-content;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 0;
    border: 1px solid rgb(155,155,155);
    margin: 10px;
}

.sec-content > h5 {
    margin-left: 20px;
    margin-bottom: 10px;
}

#profile {
    min-width: 250px;
    max-width: 400px;
    max-width: 30%;
}

.info-profile {
    padding: 20px;
}

#profile img {
    display: block;
    width: 80vw;
    max-width: 150px;
    border: 2px solid var(--preto);
    border-radius: 20px;
    margin: -10px auto 20px;
}

input#new-picture {
    display: none;
}

#btn-new-picture {
    display: block;
    margin: auto;
    width: 80vw;
    max-width: 150px;
}

#my-data {
    min-width: 500px;
    max-width: 1000px;
}

div.edit-data {
    padding: 0 20px;
}

.little-input {
    display: flex;
    justify-content: space-between;
}

div#div-userCPF, div#div-userRG, div#userCellphone, div#div-userBirth {
    width: 47.5%;
}

div#div-adressNumber {
    width: 30%;
}

div#div-adresscomplement {
    width: 65%;
}

#buttons-new-data {
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 15px 0;
}



@media (max-width: 1120px) {
    .content {
        padding: 10px 2vw;
        display: block;
    }

    #profile {
        min-width: none;
        max-width: none;
        margin: auto;
    }

    #my-data {
        min-width: auto;
        max-width: none;
        margin: 10px auto;
    }

    .little-input {
        display: block;
    }
    
    div#div-userCPF, div#div-userRG, div#userCellphone, div#div-userBirth,div#div-adressNumber, div#div-adresscomplement {
        width: 100%;
    }
    
}


@media (max-width: 950px) {
    #btn-sidebar {
        display: block;
        margin-right: 30px;
    }

    #btn-sidebar > div {
        transition: 0.3s;

    }

    .btn-sidebar-active > div:first-child {
        transform: translate(-3px, 8px) rotate(45deg);

    }

    .btn-sidebar-active > div:nth-child(2) {
        transform: scale(0);

    }

    .btn-sidebar-active > div:last-child {
        transform: translate(-3px, -8px) rotate(-45deg);

    }

    #sidebar {
        position: absolute;
        transition: 0.5s;
    }

    .sidebar-close {
        left: -100%;
    }

    .sidebar-open {
        left: 0;
    }


    .content {
        width: 100%;
    }

}